@font-face {
    font-family: 'infotext';
    src: url('../fonts/vt323-regular-webfont.woff2') format('woff2'),
         url('../fonts/vt323-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nintendobuttons';
    src: url('../fonts/opensans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../fonts/opensans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gcbutton';
    src: url('../fonts/bebas-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--televisie-kleur: #262a2d;
	--televisie-scherm: #d3d3d3;
	--televisie-standaard: #000;
	--tekstkleur: #fff;

	--button-b: #e00814;
	--button-b-lijnen: #890a22;

	--achtergrond-informatie: #000;

	/* Kleuren GameCube */
	--gamecube-omlijning-button: #372870;
	--gamecube-a-achtergrond: #009e6e;
	--gamecube-a-letter: #04724d;
	--gamecube-b-achtergrond: #e00814;
	--gamecube-b-letter: #890a22;

	--informatie-tekst: #fff;

	--schaduw-televisie: rgb(102 102 102);

	/* Kleuren Nintendo DS/Wii */
	--ds-wii-button-achtergrond: #f4f4f4;
	--ds-wii-button-omlijning: #919191;
	--ds-wii-button-tekst: #393939;

	/* Schaduw controllers */
	--schaduw-1: rgba(0 0 0 /.5);
	--schaduw-2: rgba(0 0 0 /.25);

	/* Kleuren Nintendo Switch */
	--switch-omlijning-button: #1d1d1b;
	--switch-achtergrond-button: #383c41;
	--switch-letter: #fff;
}

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

p {
	font-family: 'infotext';
}

button {
	font-family: 'nintendobuttons';
}

button:not([disabled]) {
  cursor:pointer;
}

/* jouw CSS vanaf hier */

*, *::after, *::before {
	box-sizing:border-box;	
}

body {
	height:100vh;
	margin:0;
	overflow:hidden;
}





/* de container die heen en weer schuift */
div {
	position:absolute;
	height:200vh;
	width:100vw;
		
	transform:translatey(-400vh);
	
	transition:1s;
}

body.GameCube div {
	transform:translatey(0);
}

body.DS div {
	transform:translatey(-100vh);
}

body.Wii div {
	transform:translatey(-200vh);
}

body.Switch div {
	transform:translatey(-300vh);
}





/* ALLE SECTIONS */
section {
	position:relative;
}

main > div > section {
	height:100vh;
	width:100vw;
}

/* ALLE BUTTONS BOVENIN DIE TERUG NAVIGEREN (B) */
.buttonTerug {
	position: relative;
	top: 2em;
	left: 2em;
	width: 3em;
	aspect-ratio: 1/1;
	border-radius: 50%;

	z-index: 2;

	background-color: var(--button-b);
	color: var(--button-b-lijnen);
	border: var(--button-b-lijnen);
}

.buttonTerug:hover {
	transform:scale(1.1);
	transition: 0.2s;
}

.buttonTerug:focus {
	transform:scale(1.1);
	transition: 0.2s;

	outline: none;
	border: none;
}




/******************************/
/*           GAMECUBE         */
/******************************/
section.GameCube {
	background: url("../images/background-gc.png") no-repeat center center;
	background-size: cover;
}

/*GameCube GRID */
article.grid-gc {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;

	place-items: end center;
	height: 100vh;

	margin-top: 2em;
}

/* GameCube Console*/
section.console-gc {
	grid-area: 1 / 1 / 2 / 2;
	width: 100%;
	height: 100%;

	display: grid;
	place-items: end;
}

section.console-gc img {
	width: 15em;
}

/* GameCube - televisie uit 2001 */
article.televisie1 {
	grid-area: 1 / 2 / 2 / 3;

	width:25em;
	height:23em;

	padding:3em 2em 2em 2em;

	background-color: var(--televisie-kleur);
	border-radius:1em;
	box-shadow:
	  inset -.25em -.25em .25em var(--schaduw-televisie),
	  .1em .1em .1em var(--schaduw-televisie);
  }
  
  /* GameCube - scherm van televisie uit 2001 */
  section.televisie2001 {
	position: relative;

	height:15em;
	width:20em;

	background-color: var(--televisie-scherm);
	border-radius:1em;
	overflow: hidden;
  }

  /* GameCube - beeld in het televisiescherm */
  section.televisie2001 .gifje {
	background: url("../images/animal-crossing-gc.gif") no-repeat center center;
	background-size: cover;
	
	width: 100%;
	height: 100%;
  }

  section.televisie2001.toonInfo .gifje  {
	display:none;
  }

  section.televisie2001 .info {
	position: absolute;
	top: -0.8em;
	left: 0;
	
	display: none;
	
	width: 100%;
	height: 110%;

	padding: 2em;
	font-size: 0.9em;
	
	background-color: var(--achtergrond-informatie);
}

section.televisie2001 p {
	color: var(--informatie-tekst);
}

section.televisie2001.toonInfo .info  {
	display:block;
  }

  /* GameCube - plant rechts */
section.plant-gc {
	grid-area: 1 / 3 / 2 / 4;

	height: 100%;
	width: 100%;

	top: -7em;
	justify-content: center;

	display: grid;
	place-items: start center;
  }

section.plant-gc img {
	width: 20em;
}


  /* GameCube controller */
section.gc-buttons {
	grid-area: 2 / 1 / 3 / 2;
	height: 20em;

	left: 63%;
	width: 20em;

	font-family: 'gcbutton';
}

.a-button, .y-button {
	position: relative;
	aspect-ratio: 1/1;
	border-radius: 50%;
	font-weight: bold;
}

.a-button:hover, .y-button:hover {
	transform:scale(1.1);
	transition: 0.2s;
}

.a-button:focus, .y-button:focus {
	transform:scale(1.1);
	transition: 0.2s;
}

.a-button {
	background-color: var(--gamecube-a-achtergrond);
	border: solid var(--gamecube-omlijning-button);
	color: var(--gamecube-a-letter);

	width: 4.7em;

	left: 34.45em;
	top: 6.9em;
	z-index: 2;
}

.y-button {
	background-color: var(--gamecube-b-achtergrond);
	border: solid 0.1em var(--gamecube-omlijning-button);
	color: var(--gamecube-b-letter);
	
	width: 2.8em;

	left: 26.35em;
	top: 9.05em;
	z-index: 2;
}

.gc-buttons img {
	position: absolute;
	width: 30em;
}









/**************************/
/*       NINTENDO DS    */
/**************************/
section.DS {
	background: url("../images/achtergrond-consoles.png");
	background-size: cover;
}

article.nintendo-ds {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);

	gap: 9.37em;
	place-items: center;

	margin-top: 5em;

	background-image: url("../images/controller-ds.png") no-repeat center center;
	background-size: 50em;
}

article.nintendo-ds img {
	position: absolute;
	width: 50em;
}

section.ds-boven {
	grid-area: 1 / 1 / 2 / 2;

	width: 22.5em;
	height: 16.65em;
}

section.ds-boven img {
	width: 100%;
}

section.ds-onder {
	grid-area: 2 / 1 / 3 / 2; 

	width: 22.5em;
	height: 16.65em;
}

section.ds-onder img {
	width: 100%;
}

section.ds-onder .ds-info {
	padding: 1em;
	
	display: none;

	width: 100%;
	height: 100%;

	background-color: var(--achtergrond-informatie);
	color: var(--informatie-tekst);
}

section.ds-onder.informatieDS .ds-info {
	display:block;
}

section.ds-onder.informatieDS img {
	display: none;
}
.ds-a-button, .ds-b-button {
	position: absolute;

	width: 3em;
	aspect-ratio: 1/1;

	border-radius: 50%;
	font-weight: bold;

	color: var(--ds--wii-button-tekst);
	border: solid 0.15em var(--ds-wii-button-omlijning);
}

.ds-a-button {
	top:4.7em;
	right:-13.9em;
} 
.ds-b-button {
	top:8.03em;
	right:-10.66em;
}

.ds-a-button:hover, .ds-b-button:hover {
	transform:scale(1.1);
	transition: 0.2s;
}





/**************************/
/*       NINTENDO WII     */
/**************************/
section.Wii {
	background-color:yellowgreen;
}

article.grid-wii {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 1em;
	justify-items: center;

	height: 100vh;
	width: 100vw;

	margin-top: 2em;
}

section.console-wii {
	grid-area: 1 / 1 / 2 / 2;
	width: 5em;
	height: 100%;

	top: 7em;
}

section.console-wii img {
	width: 6em;
}

/* Wii - televisie uit 2015 */
article.tv2015 {
	grid-area: 1 / 2 / 2 / 3;

	position: relative;
	width:40em;
	height:25em;
	padding:3em 2em 2em 2em;
	background-color: var(--televisie-kleur);
	border-radius:0.4em;
	box-shadow:
	  inset -.25em -.25em .25em var(--schaduw-televisie),
  }
  
  /* Wii - televisiescherm uit 2015 */
  section.scherm2015 {
	height:19em;
	width: 35em;
	background-color: var(--televisie-scherm);
	border-radius:0.4em;
  }

  section.scherm2015 img {
	overflow:hidden;
	width: 100%;
  }
 
  .wii-info {
	position: absolute;
	background-color: var(--achtergrond-informatie);

	top: 0;

	height:19.6em;
	width: 35em;

	color: var(--informatie-tekst);

	padding: 2em;

	display: none;
  }

.wii-info.informatieWii {
	display: block;
  }
  
  section.televisie2015-tussen {
	position: relative;
	height: 2em;
	width: 18em;
	background-color: var(--televisie-standaard);
	top:15%;
	left: 25%;
  }
  
  section.televisie2015-onder {
	position: relative;
	height: 1.5em;
	width: 25em;
	background-color: var(--televisie-kleur);
	top:13%;
	left: 15%;
}

section.plant-wii {
	grid-area: 1 / 3 / 2 / 4;

	top: -4.5em;
}

section.plant-wii img {
	width: 20em;

	filter: 
		drop-shadow(.15em 0.15em .5em var(--schaduw-1))
		drop-shadow(.2em 2em 1em var(--schaduw-2));
}

section.wii-buttons {
	grid-area: 2 / 2 / 3 / 2;
}

.wii-buttons img {
	width: 12em;
}

.wii-buttons button {
	position: absolute;
	
	width: 3.75em;

	aspect-ratio: 1/1;
	border-radius: 50%;

	top: 16.07em;
	left: 5.35em;

	border: solid 0.05em var(--ds-wii-button-omlijning);
	color: var(--ds-wii-button-tekst);
	background-color: var(--ds-wii-button-achtergrond);
}

.wii-buttons button:hover {
	transform:scale(1.1);
	transition: 0.2s;
}





/*********************/
/*  NINTENDO SWITCH  */
/*********************/
section.Switch {
	background-color:dodgerblue;
}

article.grid-switch {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2em;
	
	height: 100vh;
	width: 100vw;

	margin-top: 10em;

	place-items: end center;
}

section.console-switch {
	grid-area: 1 / 1 / 1 / 2;	
}

section.console-switch img {
	width: 20em;
}

/* tv */
article.televisie2022 {
	grid-area: 1 / 2 / 2 / 3;

	position: relative;
	
	width:40em;
	height:22em;
	
	padding:1em;
	
	background-color: var(--televisie-kleur);
	border-radius:0.4em;
	box-shadow: inset -.25em -.25em .25em var(--schaduw-televisie);

	top: -8em;
}
  
/* Scherm */
section.scherm2022 {
	height:20em;
	width: 38em;
	
	background-color: var(--televisie-scherm);
	border-radius:0.4em;
}

section.scherm2022 img {
	overflow:hidden;
	width: 100%;
}
.switch-info {
	position: absolute;
	background-color: var(--achtergrond-informatie);

	top: 0;

	height:20.1em;
	width: 38em;

	color: var(--informatie-tekst);

	padding: 2em;

	display: none;
}

.switch-info.informatieSW {
	display: block;
}

section.plant-switch {
	grid-area: 1 / 3 / 2 / 4;
}

section.plant-switch img {
	width: 15em;
}

section.switch-buttons {
	grid-area: 2 / 2 / 3 / 2;
	top: -8em;
}

section.switch-buttons img {
	width: 30em;
}

section.switch-buttons button {
	position: absolute;
	
	aspect-ratio: 1/1;
	border-radius: 50%;

	width: 2.6em;

	border: solid 0.13em var(--switch-omlijning-button);
	background-color: var(--switch-achtergrond-button);
	color: var(--switch-letter);
}

.switch-a {
	top: 6.27em;
	left: 29em;
}

.switch-b {
	top: 8.7em;
	left: 26.15em;
}

section.switch-buttons button:hover {
	transform:scale(1.1);
	transition: 0.2s;
}





/****************************************/
/*  BUTTONS IN DE VORM VAN CONTROLLERS  */
/****************************************/
section.buttons {
	background: url("../images/achtergrond-consoles.png");
	background-size: cover;
}

section.buttons ol {
	margin:0;
	padding:0;
	list-style:none;
}

section.buttons ol li {
	position:absolute;
}

section.buttons ol li img {
	filter: 
		drop-shadow(.25em 0.25em .5em var(--schaduw-1))
		drop-shadow(.5em 0.5em 1em var(--schaduw-2));
	}


section.buttons ol li:nth-of-type(1) {
	left:20%;
	top:33%;
	transform:translate(-50%, -50%) rotate(10deg);
	transition: 0.5s;
}

section.buttons ol li:nth-of-type(1):hover {
	transform:translate(-50%, -50%) rotate(10deg) scale(1.1);
}

/* NAVRAGEN */
section.buttons ol li:nth-of-type(1):focus {
	transform:translate(-50%, -50%) rotate(10deg) scale(1.1);

	border: none;
	outline: none;
}

section.buttons ol li:nth-of-type(1) img {
	width: 30em;
}

section.buttons ol li:nth-of-type(2) {
	left:60%;
	top:30%;
	transform:translate(-50%, -50%) rotate(-10deg);
	transition: 0.5s;
}

section.buttons ol li:nth-of-type(2):hover {
	transform:translate(-50%, -50%) rotate(-10deg) scale(1.1);
}

section.buttons ol li:nth-of-type(2) img {
	width: 30em;
}

section.buttons ol li:nth-of-type(3) {
	left:25%;
	top:70%;
	transform:translate(-50%, -50%) rotate(80deg);
	transition: 0.5s;
}

section.buttons ol li:nth-of-type(3):hover {
	transform:translate(-50%, -50%) rotate(80deg) scale(1.1);
}

section.buttons ol li:nth-of-type(3) img {
	width: 9.5em;
}

section.buttons ol li:nth-of-type(4) {
	left:80%;
	top:75%;
	transform:translate(-50%, -50%) rotate(-15deg);
	transition: 0.5s;
}

section.buttons ol li:nth-of-type(4):hover {
	transform:translate(-50%, -50%) rotate(-15deg) scale(1.1);
}

section.buttons ol li:nth-of-type(4) img {
	width: 35em;
}

section.buttons button {
  background: none;
  border: none;
}